# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

# Virtual environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Input data files (don't track anything inside input/)
input/*

# Optional: keep folder but ignore contents
!input/.gitkeep

# VS Code settings
.vscode/
